body {
    font-family: Arial, sans-serif;
  }
  
  .container {
    text-align: center;
    margin-top: 50px;
  }
  
  button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 18px;
  }
  
  #resposta {
    text-align: center;
    margin-top: 20px;
  }
  
  .hidden {
    display: none;
  }
  
  #nao:disabled::before {
    content: "🚫"; /* Ícone para indicar que "Não" não é clicável */
    margin-right: 5px;
  }
  